@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: black;
  border-bottom: 1px solid white;
  padding: 1rem;
  font-size: 1rem;
}

nav .brand {
  font-size: 1.5rem;
  font-weight: bold;
}
nav .brand a {
  color: #fff;
  text-decoration: none;
}

nav .nav-items a {
  margin: 0 1rem;
}
main {
  margin-top: 1.2rem;
}
main section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .title {
  margin: 2rem;
  display: block;
  font-size: 1.5rem;
  color: #fff;
}
#clearbtn{
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    margin-right:30px;
}
#search-history{
    display: contents;
}
#rows{
    width: 90%;
    padding: 0.8rem;
    color: white !important;
    margin: 1rem;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
#para{
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hide{
    display: none !important;
}
@media(max-width:480px){
    #para{
       display: block;
    }
}